<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/layout1}">

    <th:block layout:fragment="css">
        <style>
            /*div{
                background: rgba(190, 213, 179, 0.93);
            }*/
        </style>
    </th:block>

    <div layout:fragment="content">
        본문 영역입니다.
    </div>
    <th:block layout:fragment="script">
        <script>
            console.log("페이지 전용 스크립트");
        </script>
    </th:block>

</html>